.myNav{
	background-color: #507544;
	color: #FFFFFF;
  	font-family: Droid Sans Mono;
  	font-size: 80px;
  	font-weight: 400;
  	line-height: 50px;
  	text-align: center;
}
.navButton{
	background-color: #000000;
	font-family: Droid Sans Mono;
	opacity: 0.56;
	color: #FFFFFF
}
.aboutMe{
	background-color: #000000;
	color: #FFFFFF;
  	font-family: Droid Sans Mono;
  	font-size: 80px;
  	font-weight: 400;
  	line-height: 50px;
  	text-align: center;
}